torch>=2.4.0
transformers>=4.44.2
accelerate>=0.34.0
datasets>=3.0.0

bitsandbytes>=0.43.3

scipy>=1.13.0
tqdm>=4.66.0
numpy>=1.26.0

matplotlib>=3.9.0
sentencepiece>=0.2.0
protobuf>=5.27.0
scikit-learn>=1.5.1
kneed>=0.8.5
scikit-image>=0.24.0
